<article class="pokemon-card p-3">
	<div class="card-top-actions d-flex justify-content-end mb-2">
		<button class="btn btn-salvar-pokemon" onclick="salvarPokemon({{ id }})">Salvar</button>
	</div>
	<header class="text-center mb-3">
		<div class="pokemon-images mb-2">
			<img src="{{ 'https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/' ~ id ~ '.png' }}" alt="{{ nome }}" class="pokedex-img">
			<img src="{{ 'https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/shiny/' ~ id ~ '.png' }}" alt="{{ nome }} shiny" class="pokedex-img">
		</div>
		<h4 class="pokemon-title mb-1">{{ nome }}</h4>
		{% if shiny %}
			<h4 class="pokemon-title mb-1">O Melhor de todos</h4>
		{% endif %}
		<small class="pokemon-id">#{{ id }}</small>
	</header>
	<hr>
	<section class="pokemon-detalhes mb-3">
		<h6 class="pokemon-section-title">Informações Básicas</h6>
		<ul class="pokemon-info-list">
			<li>
				<strong>Tipo:</strong>
				{{ tipos|join(', ') }}</li>
			<li>
				<strong>Altura:</strong>
				{{ altura }}m</li>
			<li>
				<strong>Peso:</strong>
				{{ peso }}kg</li>
		</ul>
	</section>
	<hr>
	<section class="pokemon-habilidades mb-3">
		<h6 class="pokemon-section-title">Habilidades</h6>
		<p class="mb-0">{{ habilidades|join(', ') }}</p>
	</section>
	<hr>
	<section class="pokemon-status">
		<h6 class="pokemon-section-title">Estatísticas</h6>
		<ul class="pokemon-status-list">
			{% for s in stats %}
				<li class="pokemon-status-item">{{ s.nome|upper }}:
					{{ s.valor }}</li>
			{% endfor %}
		</ul>
	</section>
</article>
