<div class="col-6 col-md-4 col-lg-3">
	<div class="card pokemon-card text-center shadow-sm h-100">
		<img src="{{ img }}" class="card-img-top p-3" alt="{{ nome }}">
		<div class="card-body">
			<h5 class="card-title text-capitalize">{{ nome }}</h5>
			<div class="d-flex justify-content-center flex-wrap mb-2">
				{% for type in types %}
					<div class="d-flex align-items-center mx-1">
						<img src="{{ type.icon }}" alt="{{ type.nome }}" title="{{ type.nome }}" class="me-1 type-icon {{ type.nome }}">
						<small class="text-capitalize">{{ type.nome }}</small>
					</div>
				{% endfor %}
			</div>
			{% if habilidades %}
				<p class="card-text">
					<strong>Habilidades:</strong>
					{{ habilidades }}
				</p>
			{% endif %}
		</div>
		<div class="card-footer position-relative d-flex justify-content-end align-items-center">
			<small class="text-muted position-absolute start-50 translate-middle-x">ID: #{{ id_unova is defined ? id_unova : id }}</small>
			<button class="btn btn-salvar-pokemon btn-sm" onclick="salvarPokemon({{ id }})">Salvar</button>
		</div>
	</div>
</div>
