<figure class="card pokemon-card text-center h-100">
	<img src="{{ 'https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/' ~ id ~ '.png' }}" alt="{{ nome }}" class="pokedex-img">
	<figcaption class="card-body">
		<h6 class="card-title mb-1 pokemon-title">{{ nome }}
			#{{ id }}</h6>
		<div class="d-flex justify-content-center flex-wrap">
			{% for type in types %}
				<div class="d-flex align-items-center mx-1">
					<img src="{{ type.icon }}" alt="{{ type.nome }}" title="{{ type.nome }}" class="me-1 type-icon {{ type.nome }}">
					<small class="text-capitalize">{{ type.nome }}</small>
				</div>
			{% endfor %}
		</div>
	</figcaption>
	<div class="card-top-actions d-flex justify-content-end mb-2 p-1">
		<button class="btn btn-secondary btn-sm" onclick="salvarPokemon({{ id }})">Salvar</button>
	</div>
</figure>
